*
{
    margin:0;
    padding: 0;
}

#topbar {
                
                width:1000px;
                margin:0 auto;
                height: 40px;
                
                
            }
            
            body {
                
               background-image: url('../Images/1.JPG');
                width:100%;
                
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                backface-visibility: hidden;
                animation: body 8s linear infinite;
                animation-timing-function: ease-in-out;
                
            }
            @keyframes body
            {
                0%
                {
                     background-image: url('../Images/1.JPG');
                }
                25%
                {
                     background-image: url('../Images/2.JPG');
                }
                50%
                {
                     background-image: url('../Images/3.JPG');
                }
                75%
                {
                     background-image: url('../Images/4.JPG');
                }
                100%
                {
                    background-image: url('../Images/5.JPG');
                }
            }
            #logo {
                
                margin-top:8px;
                width:100px;
                float:left;
                margin-right:8px;
                
            }
            
            .topbar-section {
                
                float:left;
                border-left: 1px #CCCCCC solid;
                height:100%;
                
            }
            
            
            
           
            
           
            
           
            
           
            
            
            
         
            
            #menu-bar-container {
                
                border-top: 1px solid #CCCCCC;
                background-color: #BB1919;
                width:100%;
                height:100px;
                
            }
            img {
                
                      
                height:90px;
                left: 30px;
            }
            
            #menu-bar {
                
                width:1000px;
                margin-top:-90px;
                margin-left: 150px;
                
            }
            
            h1{
                
                padding:0;
                margin:0;
                color:white;
                font-size: 40px;
                font-weight: normal;
                padding-top: 10px;
                
            }
            h3{
                
                padding:0;
                margin:0;
                color:white;
                font-size: 20px;
                font-weight: normal;
                padding-top: 10px;
                clear:both;
            }
            
         
            
            
            ul
            {
                margin:0px;
                padding: 0px;
                list-style: none;
                
            }
             ul li
            {
                float: left;
 width: 200px;
 height: 40px;
 background-color: black;
 opacity: .8;
 line-height: 40px;
 text-align: center;
 font-size: 20px;
                
            }
            ul li a
            {
                text-decoration: none;
 color: white;
 display: block;
                
            }
        
          ul li a:hover
            {
               background-color: lawngreen;
                
            }
              ul li ul li
                {
                    display: none;
                }
              ul li:hover ul li
              {
                  display: block;
              }
        
@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .tcontainer{
    width: 100%;
    overflow: hidden;
  }
  .ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: #eee;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 20s;
  }
  .ticker-move:hover{
    animation-play-state: paused;
  }
  .ticker-item{
    display: inline-block;
    padding: 0 2rem;
  }
 #foot
{
    background-color: black;
    width: 100%;
    height:100px;
    margin-top:800px;
}